<h1>Hello world from index</h1>
<a href="demo/hello">Hello page 1</a><br/>
<%= link_to 'hello page 2', {:action => 'hello'} %>
<%= link_to 'hello with parameters', {:action => 'hello', :page => 5, :id => 20} %>
